<div class="container">
    <nav class="navbar bg-primary" data-bs-theme="dark">
        <h2>Mi primera aplicacion SPA</h2> 
    </nav> 
    <h3><b>Nombre del País:</b>Perú</h3>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Flag_of_Peru_%28state%29.svg/800px-Flag_of_Peru_%28state%29.svg.png" alt="" width="300" height="150">
    <h3>Datos generales.</h3>
    <p>Es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos.</p>
    <p>Su territorio se extiende por el océano Pacífico, bordeando su costa al oeste, limitando con Ecuador al noroeste, con Colombia al noreste, con Brasil al este, con Bolivia al sureste y con Chile al sur.Su territorio se compone de diversos paisajes: los valles, las mesetas y las altas cumbres de los Andes se despliegan al oeste en dirección a la costa desértica, desde el norte hasta el sureste del país y el este hacia la inmensa Amazonia. Es uno de los países con mayor diversidad biológica y mayores recursos minerales del planeta.</p>
    <p>El Antiguo Perú fue el hogar de sucesivas civilizaciones durante los períodos antiguo y medieval, y tiene una de las historias de civilización más largas de cualquier país, cuya herencia se remonta al décimo milenio a. C. Las culturas y civilizaciones precoloniales notables incluyen la civilización Caral-Supe en el 3200 a. C.(la civilización más antigua de América y considerada una de las cunas de la civilización), la cultura Nazca, la cultura Chavín, los Imperios huari, tiahuanaco, el Reino Chimú, y el Imperio incaico, que fue el último Estado autóctono o indígena, el cual dominó gran parte del occidente sudamericano hacia el siglo xv.</p>
</div>
