.container{
    font-size: 45px;
    margin-top: 20px;
}
h2{
    margin-left: 18px;
}
h3{
    margin-left: 18px;
    margin-top: 10px; 
}
img{
    margin-left: 18px; 
    border: 2px solid black;
    margin-top: 10px;  
}
p{
    margin-left: 18px;
    margin-top: 10px;
    font-size: 18px; 
}